body, html{
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #9b9b9b;
}

.container{
  width: 99%;
  margin: auto;
}

.container-fluid{
  height:100%;
  width: 95%;
}

h1{
  margin: 45px auto;
}

h1, h2, h3{
  text-align: center;
  font-weight: bold;
} 

.btn{
  font-weight: bold;
  font-size: 1.2em;
}

.form-group{
  width: 80%;
  margin: 30px auto;
}

.input-group{
  margin:20px auto;
}

.div-btns{
  display: inline-block;
  margin:10px auto;
}

.div-inline{
  width:100%;
  display: flex;
  justify-content: center;
}

#loading-animation{
  display: flex;
  margin-top: 150px;
}

.input-group-text{
  width:100px;
  font-weight: bold;
}

.form-control{
  padding:0 0 0 5px;
}

img{
  width:23px;
  padding:0;
}

input[type=number]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
}